:root {
    --primary-color: #5C5346;
    --secondary-color: #AFD5AA;
    --primary-text-color: #341709;
    --secondary-text-color: #F0F2EF;
    --accent-color-01: #7A0000;
    --accent-color-02: #013583;
    --header-font: "Lora", Georgia, 'Times New Roman', serif;
    --text-font: "Roboto", Arial, Helvetica, sans-serif;
    --border: 1px solid rgb(229, 143, 101, 0.2);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    max-width: 100vw;
}

header {
    font-family: var(--header-font);
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    padding: 1rem 0;
    text-align: center;
}

main {
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    margin: 1.5rem auto;
    border: var(--border);
}

main,
footer {
    font-family: var(--text-font);
}

footer p {
    padding: .125rem 0;
}

/*----------- FORM STYLING --------------*/
form {
    padding: 1.5rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
    max-width: 430px;
}

fieldset:not(:first-of-type) {
    padding-top: 1.5rem;
}

label {
    margin-bottom: .25rem;
}

select,
textarea,
input[type="date"],
input[type="text"],
input[type="submit"] {
    height: 45px;
    padding: .25rem .5rem;
    font-size: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
    transform: scale(1.125);
}

label[for="product"]::before {
    content: "(* Indicates Required)";
    display: block;
    padding-bottom: .25rem;
    color: var(--accent-color-02);
    font-size: .9em;
}

label[for="writtenReview"]::after,
label[for="name"]::after {
    content: " (Optional)";
    color: var(--accent-color-02);
    font-size: .9em;
}

textarea {
    height: 90px;
}

input[type="submit"] {
    width: 100%;
    margin-top: 3rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    border: var(--border);
    box-shadow: 1px 1px 1px #999;
}

select:required,
input[type="date"]:required {
    border-bottom: solid 4px var(--accent-color-01);
}

select:valid,
input[type="date"]:valid {
    border-bottom: solid 4px var(--secondary-color);
}

.form-header {
    grid-column: 1 / -1;
    margin-bottom: .25rem;
}

.rating-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-item:not(first-of-type) {
    margin-top: .125rem;
}

.feature-item label {
    margin-left: 3px;
}

#ratings {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}