@media (min-width: 601px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main {
        position: relative;
    }

    h2 {
        position: relative;
        text-align: left;
        background-color: rgba(255, 205, 0, 0.75);
        padding: 1rem 1rem 1rem 2rem;
        margin-left: -2rem;
        margin-right: 2rem;
        border-radius: .5rem;
        border: solid 1px #CCCCCC;
    }

    .hero {
        position: relative;
        grid-column: 1 / -1;
    }

    .data,
    .weather {
        position: absolute;
        z-index: 2;
        width: 40%;
        height: auto;
        max-width: 280px;
        padding: 1rem;
        border-radius: .5rem;
        border: solid 1px #CCCCCC;
        background: rgba(255, 255, 255, 0.35);
    }

    .data {
        top: 15%;
        left: 15%;
    }

    .weather {
        bottom: 15%;
        right: 15%;
    }

    .weather h2::after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 5%;
        top: 10%;
        background-image: url('../images/weather-icons/weather-sun-sunny-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 50px;
        width: 50px;
        margin-left: 20px;
        /* vertical-align: middle; */
    }

    .weather-icon {
        display: none;
    }
}